body{
    width: 100%;
    background-color: #f7f5fa;
    
  
    
    
}

#main-content {
    justify-content: center;
    align-items: center;
    width: 80%;
  
    margin: auto;
    box-shadow: 0px 5px 5px 5px grey;
    background-color: #FAFAFA;
    
}

#first-section {
    display: flex;
    background-color: #FAFAFA;
    height: 750px;
    
}

#words {
    flex: 1;
    text-align: center;
    margin-top: 260px;
    color: #424242;
}

#words p {
    padding: 20px;
}

button {
    border: 1px solid #cccccc;
    border-radius: 100px;
    color: black;
    font-size: 15px;
    padding: 5px;
    margin: 30px;
    width: 200px;
    height: 30px;
}

#image {
    flex: 1.5;
    width: 300px;
    height: 500px;
  
}


#description-bar-1{
    background-color:#424242;
    text-align: center;
    color: white;
    width: 100%;
    height: 75px;
    
}

#description-bar-1 h3{
    font-size: 30px;
    margin: 0px;
    padding: 17px;
}



#description-bar {
    background-color: #FAFAFA;
    color: #424242;
    text-align: center;
}

#description-bar p {
    padding-bottom: 20px;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #424242;
}

footer h1 {

}

footer p {

}